modules = ["python-3.11"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45609748
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py init"
