modules = ["python-3.11"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45609748
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 run.py init"

[[workflows.workflow]]
name = "Status Server"
author = 45609748
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python status_server.py"

[[ports]]
localPort = 8080
externalPort = 80
